.colWrapper {
  height: 100%;
  border-radius: 25px;
  margin: auto;
  top: 0;
}

#exitButton {
  width: 3rem;
  height: 3rem;
  float: right;
  margin-bottom: 10px;
  border: 2px solid white;
  background-color: #000000;
  border-radius: 25px;
  margin-right: 3%;
}
.contactForm {
  max-width: 35rem;
  margin: auto;
  margin-top: 15px;
}

.formEmailPolicy {
  color: white;
  letter-spacing: 1.5px;
  padding-bottom: 3px;
  padding-left: 2.5px;
}

.submitButton {
  margin-left: 2%;
  background-color: #000000;
  border: 2px solid white;
}
