// Main style sheet
// 1. Headeer
// 2. Projects
// 3. Dexterity
// 4. Contact
// 5. Footer

// Constants
$PrimaryColor: #000000;
$Orange: #ff592e;
$Aqua: #00c5d4;

// ----------- Header -------------
.HeroWrapper {
  height: 100vh;
  margin-top: 55px;
}

#initials {
  max-width: 175px;
  min-width: 150px;
}

#integrity {
  max-width: 250px;
  min-width: 250px;
}
#creativity {
  max-width: 400px;
}

#perseverance {
  max-width: 300px;
}

#initialsIntgrityRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#creativityRow {
  padding-bottom: 10px;
  padding-top: 20px;
}

#CPUVector {
  width: 100%;
  height: 100%;
  z-index: -1;
}
// ----------- END Header ---------

// ----------- Projects -----------
#projectsWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
}

#projectsTitle {
  text-align: left;
  color: white;
  font-size: 7vw;
  font-family: OCRAExtended, OCR A Extended;
  border-radius: 5px;
  margin-left: 7%;
  background-color: $PrimaryColor;
}
// ----------- END Projects -------
// ----------- Dexterity -----------
#dexWrapper {
  margin-bottom: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dexSectionRow {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
#dexterityTitle {
  text-align: center;
  color: white;
  font-size: 10vw;
  width: 100%;
  font-family: OCRAExtended, OCR A Extended;
}

#dexBicepIconWrapper {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#dexBicepIcon {
  border-radius: 50%;
  background-color: $Aqua;
}

#softwareAndDesignRow {
  // margin-left: 2%;
  // margin-right: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dexCol {
  height: 40rem;
  overflow: hidden;
}

#softwareIconsWrapper {
  position: absolute;
  bottom: 0;
}

#dexSoftwareTitleWrapper {
  position: absolute;
}
#dexSoftwareTitle {
  font-size: 3rem;
  font-family: OCRAExtended, OCR A Extended;
  text-align: center;
  color: white;
}

#dexCodeOutline {
  position: absolute;
  margin-top: 3rem;
}

#waveOne {
  margin-left: -10rem;
}
#waveTwo {
  margin-top: -10rem;
  margin-left: -15rem;
}

.accentDesign {
  background: linear-gradient(-45deg, #ff7bff, #00c5d4, #022563);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

#accentDesignDiv {
  height: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 20px;
  margin-left: -20px;
}

#selfPortraitImg {
  position: absolute;
  bottom: 0;
}

#dexDesignTitleWrapper {
  position: absolute;
  top: -15px;
  background-color: black;
  height: 4rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#dexDesignTitle {
  font-size: 3rem;
  color: white;
  font-family: OCRAExtended, OCR A Extended;
  text-align: center;
}

#dexDesignIconsWrapper {
  position: absolute;
  bottom: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// ----------- END Dexterity -------
// ----------- Contact ------------
#getResumeButton {
  background-color: black;
  border: 3px solid white;
  top: 5%;
  left: 5%;
  position: absolute;
  border-radius: 25px;
  width: 15rem;
  height: 15rem;
  box-shadow: 20px 20px 40px black;
}
#emailButton {
}
.buttonText {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: Arial;
}
.contactButton {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
// ----------- END Contact --------
