// Main style sheet
// 1. Headeer
// 2.

// Constants
$PrimaryColor: #000;
// ----------- Header -------------
.HeroWrapper {
  background-color: $PrimaryColor;
  height: 500px;
  display: flex;
}

.initials {
  max-width: 100px;
  max-height: 100px;
}
// ----------- END Header -------------
