// Main style sheet
// 1. Headeer
// 2. Projects

// Constants
$PrimaryColor: #000000;
// ----------- Header -------------
.HeroWrapper {
  background-color: $PrimaryColor;
  height: 500px;
  // display: flex;
}

.initials {
  max-width: 350px;
  max-height: 350px;
  // font-family: ;
  // margin: "auto";
}
.integrity {
  color: $PrimaryColor;
}

.creativity {
  width: 50px;
}
// ----------- END Header -------------
