// Main style sheet
// 1. Headeer
// 2. Projects

// Constants
$PrimaryColor: #000000;
$Orange: #ff592e;

// ----------- Header -------------
.HeroWrapper {
  background-color: $PrimaryColor;
  height: 450px;
}

.initials {
  max-width: 175px;
  min-width: 150px;
}
.integrity {
  max-width: 250px;
  min-width: 250px;
}
.creativity {
  max-width: 400px;
}
.perseverance {
  max-width: 300px;
}
// ----------- END Header ---------

// ----------- Projects -----------
.wrapper {
  margin: "auto";
  // padding-left: 10%;
  // padding-right: 10%;
}
// ----------- END Projects -------
