@font-face {
  font-family: "OCR A Extended";
  src: url("./Assets/fonts/OCRAExtended/ocraextended.eot");
  src: url("./Assets/fonts/OCRAExtended/ocraextended.ttf") format("truetype"),
    url("./Assets/fonts/OCRAExtended/ocraextended.woff") format("woff"),
    url("./Assets/fonts/OCRAExtended/ocraextended.woff2") format("woff2");
}

@font-face {
  font-family: "San Francisco Text";
  src: url("./Assets/fonts/SFT/sanfranciscotext.eot");
  src: url("./Assets/fonts/SFT/sanfranciscotext.ttf") format("truetype"),
    url("./Assets/fonts/SFT/sanfranciscotext.woff") format("woff"),
    url("./Assets/fonts/SFT/sanfranciscotext.woff2") format("woff2");
}

@font-face {
  font-family: "Arial";
  src: url("./Assets/fonts/Arial/arial.eot");
  src: url("./Assets/fonts/Arial/arial.ttf") format("truetype"),
    url("./Assets/fonts/Arial/arial.woff") format("woff"),
    url("./Assets/fonts/Arial/arial.woff2") format("woff2");
}
